@charset "UTF-8";
.main-inner-search {
  display: grid;
  grid-template-columns: repeat(9, minmax(60px, 112px));
  gap: 16px;
  grid-template-rows: 60px 1fr;
  margin-top: 60px;
  grid-auto-flow: dense;
  width: 100%; }
  .main-inner-search .search {
    grid-column: span 7;
    grid-row: 1;
    /* стили для label */
    /* стили для input */ }
    .main-inner-search .search .text-field {
      margin-bottom: 1rem;
      position: relative; }
    .main-inner-search .search .text-field__label {
      display: block;
      margin-bottom: 0.25rem;
      transition: all .25s ease-out; }
    .main-inner-search .search .text-field__input {
      border-radius: 8px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 15px 37px 12px 72px;
      margin-right: -8px;
      transition: all .25s ease-out;
      position: relative;
      height: 60px;
      border: 1px solid #EAEAEA;
      background-color: #FFF;
      box-shadow: 3px 3px 4px 0px rgba(180, 180, 180, 0.07) inset;
      width: 100%;
      font-family: inherit;
      color: #424242;
      background-clip: padding-box;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 140%;
      /* 22.4px */ }
    .main-inner-search .search .text-field__input::placeholder {
      color: #BCBDC0;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 140%;
      position: relative; }
    .main-inner-search .search .search-btn {
      position: absolute;
      width: 26px;
      height: 24px;
      top: 18px;
      left: 17px;
      z-index: 100;
      padding: unset; }
      .main-inner-search .search .search-btn:hover, .main-inner-search .search .search-btn:hover:hover {
        transition: all .25s ease-out;
        background-color: transparent; }
      .main-inner-search .search .search-btn .search-gray-icon {
        width: 26px;
        height: 24px; }
        .main-inner-search .search .search-btn .search-gray-icon:hover {
          background-image: url("/img/Search_Magnifying_Glass_Blue.svg"); }
  .main-inner-search .btns {
    grid-row: 1;
    grid-column: span 3; }
    .main-inner-search .btns .btn {
      height: 100%;
      gap: 12px;
      width: 100%;
      line-height: unset;
      justify-content: center;
      transition: all .25s ease-out;
      border: 2px solid #0F3C73; }
      .main-inner-search .btns .btn:hover, .main-inner-search .btns .btn:hover:hover {
        transition: all .25s ease-out; }
        .main-inner-search .btns .btn:hover .plus-icon, .main-inner-search .btns .btn:hover:hover .plus-icon {
          background-image: url("/img/Add_Plus.svg"); }

.main-list-advice {
  margin-top: 24px;
  border-radius: 8px;
  background: #FFF;
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.05); }
  .main-list-advice .red {
    color: #219653; }
  .main-list-advice .green {
    color: #AC1422; }
  .main-list-advice .title-list {
    display: grid;
    align-items: center;
    grid-template-columns: minmax(10px, 24px) minmax(150px, 265px) minmax(50px, 155px) minmax(400px, 540px);
    gap: 40px;
    color: #939598;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    padding: 0 17px 0 15px;
    height: 72px;
    border-bottom: 1px solid #EAEAEA; }
    .main-list-advice .title-list .code-link {
      color: #424242;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 15px; }
  .main-list-advice .list-accordion .accordion-item .accordion {
    color: #57585A;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    text-align: left;
    outline: none;
    display: grid;
    grid-template-columns: minmax(10px, 24px) minmax(150px, 276px) minmax(50px, 158px) minmax(400px, 540px);
    gap: 40px;
    align-items: center;
    width: 100%;
    background-color: #ffffff;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #EAEAEA;
    border-left: unset;
    border-right: unset;
    padding: 13px 17px 13px 15px;
    cursor: pointer;
    transition: 0.4s; }
    .main-list-advice .list-accordion .accordion-item .accordion .code {
      font-size: 16px;
      display: flex;
      align-items: center;
      flex-direction: row;
      gap: 18px; }
    .main-list-advice .list-accordion .accordion-item .accordion .link {
      color: #0F3C73; }
      .main-list-advice .list-accordion .accordion-item .accordion .link:hover {
        color: #005FD2;
        text-decoration-line: underline; }
  .main-list-advice .list-accordion .accordion-item .accordion:hover {
    border-top: 1px solid #005FD2;
    border-bottom: 1px solid #005FD2;
    background-color: #F4F8FC; }
    .main-list-advice .list-accordion .accordion-item .accordion:hover .add-plus-circle-icon {
      background-image: url("/img/Add_Plus_Circle_Secondary.svg"); }
  .main-list-advice .list-accordion .accordion-item .active:hover {
    background-color: #FAFBFC;
    border-bottom: 1px solid #FAFBFC; }
    .main-list-advice .list-accordion .accordion-item .active:hover .add-plus-circle-icon {
      background-image: url("/img/Remove_Minus_Circle_Secondary.svg"); }
  .main-list-advice .list-accordion .accordion-item .active {
    border-bottom: 1px solid #FAFBFC;
    background-color: #FAFBFC;
    border-top: 1px solid #005FD2; }
    .main-list-advice .list-accordion .accordion-item .active .add-plus-circle-icon {
      background-image: url("/img/Remove_Minus_Circle.svg"); }
      .main-list-advice .list-accordion .accordion-item .active .add-plus-circle-icon:hover {
        background-image: url("/img/Remove_Minus_Circle_Secondary.svg"); }
  .main-list-advice .list-accordion .accordion-item .panel {
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    padding: 0 17px 0 15px; }
    .main-list-advice .list-accordion .accordion-item .panel .value-panel {
      border-top: 1px solid #EAEAEA;
      display: grid;
      grid-template-columns: minmax(10px, 24px) minmax(150px, 276px) minmax(50px, 158px) minmax(400px, 540px);
      gap: 40px;
      align-items: center;
      color: #57585A;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 140%;
      padding: 12px 0; }
      .main-list-advice .list-accordion .accordion-item .panel .value-panel:hover {
        background-color: #E2EDF8; }
      .main-list-advice .list-accordion .accordion-item .panel .value-panel .empty {
        text-align: center; }
      .main-list-advice .list-accordion .accordion-item .panel .value-panel .dissert {
        text-align: right;
        padding-right: 50px; }
  .main-list-advice .list-accordion .accordion-item .active ~ .panel {
    border-bottom: 1px solid #005FD2;
    background-color: #FAFBFC; }
